* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat";
  font-family: sans-serif;
}
/* navigation bar: all pages */
.navBar {
  display: flex;
  height: 160px;
  justify-content: space-around;
  align-items: center;
  background-color: #45110f;
  color: rgb(5, 5, 5);
}

.navLinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

.navLinks li {
  list-style: none;
}

.navLinks li:hover {
  transform: scale(1.1);
}

.navLinks a {
  color: #f1f0f5;
  text-decoration: none;
  letter-spacing: 3px;
  font-size: 16px;
  text-align: center;
  outline: none;
}

.navLinks button {
  background-color: #45100f;
  border: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #f1f0f5;
  margin: 5px;
  transition: all 0.3s ease;
}

.burger {
  display: none;
  cursor: pointer;
}

.home {
  text-decoration: underline;
}

.join {
  text-decoration: underline;
}

.about {
  text-decoration: underline;
}

/* navbar responsive */
@media screen and (max-width: 910px) {
  body {
    overflow-x: hidden;
  }

  .navLinks {
    position: absolute;
    right: 0px;
    height: 98vh;
    top: 8vh;
    background-color: #45100f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 45%;
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    z-index: 4;
  }

  .navLinks li {
    opacity: 0;
    display: flex;
  }

  .burger {
    display: block;
  }

  .navLinks a:hover {
    transform: scale(1.1);
  }
}

.nav-active {
  transform: translate(0%, 15%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* add navbar responsive for mobile */
@media screen and (max-width: 650px) {
}

.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  opacity: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}

.logo img {
  color: #f1f0f5;
  height: 108px;
  width: 200px;
}

.logo img:hover {
  transform: scale(1.1);
}

.dropDown-list {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: #45100f;
  position: absolute;
  margin-top: 10px;
  width: 200px;
  height: 200px;
  border-radius: 0.5rem;
  transform: translate(-66px, -10px);
  transition: all 0.5s ease-in;
  z-index: 5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.dropDown-list li {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dropDown-list li:hover {
  background-color: #342c32;
  border-radius: 0.5rem;
  transform: scale(1);
}

.dropDown-list a {
  font-size: 12px;
}

.dropDown-list a:hover {
  transform: scale(1.1);
}

.dropDown {
  display: inline-block;
  position: relative;
}

.dropDown li:hover + .dropDown-list {
  display: flex;
}

.dropDown-list:hover {
  display: flex;
}

/* home page */
.home-background {
  background-image: url("https://cdn.shopify.com/s/files/1/0084/7642/files/climb_blog_1_1024x1024.jpg?v=1487906370");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.welcome {
  color: #dddbdb;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: rgba(5, 5, 5, 0.75);
  height: 75vh;
  width: 75vw;
  border-radius: 2rem;
  padding: 2rem;
  color: #dddbdb;
}

.welcome h1 {
  font-size: 3rem;
  text-shadow: -2px 0 #050505, 0 2px #050505, 2px 0 #050505, 0 -2px #050505;
}

.welcome h3 {
  font-size: 2rem;
  text-decoration: underline;
  color: #45100f;
  text-shadow: -0.75px 0 #dddbdb, 0 0.75px #dddbdb, 0.75px 0 #dddbdb,
    0 -0.75px #dddbdb;
}

.welcome p {
  font-size: 1.5rem;
  text-shadow: -2px 0 #050505, 0 2px #050505, 2px 0 #050505, 0 -2px #050505;
}

.welcome button,
.signUpForm button {
  display: inline-block;
  color: rgb(241, 240, 245);
  background-color: #43100f;
  border: none;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}

.welcome button:hover,
.signUpForm button:hover {
  cursor: pointer;
  border: .5px solid #f1f0f5;
}

.welcome button:active {
  transform: scale(0.95);
}

/* home page responsive */
@media screen and (max-width: 910px) {
  .welcome h1 {
    font-size: 2rem;
  }

  .welcome h3 {
    font-size: 1rem;
    text-decoration: underline;
  }

  .welcome p {
    font-size: 0.85rem;
  }
}

/* join page */
.join-background {
  background-image: url("https://i.redd.it/zdcg8c7463y51.jpg");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.form-container {
  color: #dddbdb;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  background-color: #342c32e6;
  height: 95vh;
  width: 90vw;
  border-radius: 2rem;
  padding: 2%;
  
  letter-spacing: 3px;
  font-size: 14px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-container h1 {
  font-size: 3rem;
  padding: .5rem;
  text-shadow: -2px 0 #342c32, 0 2px #342c32, 2px 0 #342c32, 0 -2px #342c32;
}

.form-container h5 {
  font-size: 0.95rem;
  align-self: flex-start;
  padding: .5rem;
  text-shadow: -2px 0 #342c32, 0 2px #342c32, 2px 0 #342c32, 0 -2px #342c32;
}

.form-container p {
  font-size: 1.5rem;
  padding: .5rem;
  text-shadow: -2px 0 #342c32, 0 2px #342c32, 2px 0 #342c32, 0 -2px #342c32;
}

.form-body {
  color: #f1f0f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #645856;
  height: 50vh;
  width: 80vw;
  padding: 2rem;
  margin: 0.5rem;
  letter-spacing: 3px;
  border-radius: 1rem;
  border: 1px solid #f1f0f5;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.form-body h2 {
  font-size: 1rem;
  align-self: flex-start;
  text-shadow: -2px 0 #645856, 0 2px #645856, 2px 0 #645856, 0 -2px #645856;
}

.signUpForm {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-evenly;
  width: 100%;
}

.address {
  padding: 2%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.selects{
  padding: 2%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.form-input {
  background-color: #645856;
  height: 50px;
  width: 20%;
  position: relative;
  overflow: hidden;
}

.form-input input {
  text-align: left;
  color: #f1f0f5;
  background-color: #645856;
  width: 100%;
  height: 100%;
  padding-top: 20px;
  border: none;
  outline: none;
}

.form-input label {
  text-align: left;
  position: absolute;
  bottom: 0px;
  left: 0%;
  height: 100%;
  width: 100%;
  pointer-events: none;
  border-bottom: 1px solid #342c32;
}

.form-input label::after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: -1px;
  height: 100%;
  width: 100%;
  border-bottom: 3px solid #45100f;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.content-name {
  position: absolute;
  bottom: 5px;
  left: 0px;
  transition: all 0.3s ease;
}

.form-input input:focus + .label-name .content-name,
.form-input input:valid + .label-name .content-name {
  transform: translateY(-150%);
  font-size: 14px;
  font-weight: bolder;
  color: #45100f;
}

.form-input input:focus + .label-name::after,
.form-input input:valid + .label-name::after {
  transform: translateX(0%);
}

.form-body button {
  justify-self: flex-end;
  align-self: flex-end;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
 /* Reset Select */
.custom-select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0;
  border-bottom: 1px solid #342c32;
  font-size: 14px;
  background: #645856;
  background-image: none;
}
/* Remove IE arrow */
.custom-select select::-ms-expand {
  display: none;
}
/* Custom Select */
.custom-select {
  position: relative;
  display: flex;
  width: 20em;
  height: 3em;
  line-height: 3;
  background: #645856;
  overflow: hidden;
  border-radius: .25em;
  transform: translateY(8px);
}

.custom-select select {
  flex: 1;
  padding: 0 .5em;
  color: #f1f0f5;
  cursor: pointer;
}

.custom-select select:focus{
  border-bottom: 3px solid #45100f;
  color: #45100f;
}
/* Arrow */
.custom-select::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  background: #342c32;
  cursor: pointer;
  pointer-events: none;
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease;
}

/* Transition */
.custom-select:hover::after {
  color: #45100f;
}
/* join page responsive */
@media screen and (max-width: 910px) {
  .form-container h1 {
    font-size: 2rem;
  }

  .form-container h5 {
    font-size: 0.95rem;
    align-self: flex-start;
  }

  .form-container p {
    font-size: 0.85rem;
  }
}

/* meet the board */

.meet-background {
  background-image: url("https://cdn.shopify.com/s/files/1/0084/7642/files/climb_blog_3_1024x1024.jpg?v=1487908651");
  background-attachment: fixed;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.directors-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(221, 219, 219, 0.75);
  height: fit-content;
  width: 80vw;
  margin-top: 10%;
  margin-bottom: 10%;
  border-radius: 2rem;
  padding: 2rem;
}

.directors-container h1 {
  color: #050505;
  font-size: 3rem;
  text-shadow: -0.75px 0 #dddbdb, 0 0.75px #dddbdb, 0.75px 0 #dddbdb,
    0 -0.75px #dddbdb;
  margin-bottom: 2rem;
}

/* profile cards */
.card {
  color: #050505;
  background-color: #dddbdb;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 1rem;
  padding-bottom: 8px;
  width: 100%;
}

.card img {
  height: 20rem;
  width: 20rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom: 2px solid #342c32;
  position: relative;
}

.column {
  float: left;
  height: fit-content;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}

.container p {
  padding: 2%;
}

.container h3 {
  border-bottom: 1px solid #342c32;
}

/* meet the board responsive */
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

.container {
  padding: 0 16px;
}

.title {
  color: #342c32;
}
